*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-body: #fff;
    --bg-header: #fff;

    --clr-url: #000000;
}

body{
    background: var(--bg-body);
    
}

.logo{
    display: flex;
}

header{
    display: flex;
    padding: 10px 70px;
    align-items: center;
}
 /* .menu{
    display: flex;
}  */

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center ;
    gap: 20px;
}

.menu ul a{
    color: var(--clr-url);

    text-decoration: none;
    font-family: ESR;
    width: 100%;
    height: 55px;
}

